.list-container {
  padding: 0 3.5rem;
}

.list-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.comp .taskcompleted {
  display: flex;
}
.comp .task {
  display: none;
}

.noncomp .taskcompleted {
  display: none;
}

